* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;

}

body {
    background: url(https://source.unsplash.com/1600x900/?landscape);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

.container {
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

}

.button {
    margin: 30px 0;
    gap: 40px;
    display: flex;
}


button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

button:hover {
    opacity: 0.7;
}

#rock {
    background: #7fff00;
}

#paper {
    background: #fff100;
}

#scissors {
    background: #ff5900;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

.your-score span {
    color: #2d21d7;
}

.machine-score span {
    color: rgb(223, 81, 81);

}